<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Power option</key>
	<array>
		<string>This power course is used for ETC ETC ET</string>
	</array>
	<key>Biomed option</key>
	<array>
		<string>BLAH BLAH BALH</string>
		<string>OSDJFHSKDFHKSFHDKJ</string>
	</array>
	<key>Software option</key>
	<array>
		<string>kjhdkfksdhf</string>
	</array>
	<key>Nano option</key>
	<array>
		<string></string>
		<string>etc</string>
	</array>
	<key>General</key>
	<array>
		<string></string>
		<string>etc</string>
	</array>
</dict>
</plist>
